#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: none;
}

#back-to-top.show {
    display: block;
}

@media (max-width: 768px) {
    body {
        padding: 0px;
    }

    /* 在移動設備上的樣式 */
    .navbar-nav {
        background-color: #2ca8fe; /* 更改Menu的背景颜色 */
    }

    .navbar-nav .nav-link {
        color: #fff; /* 更改Menu的文字颜色 */
    }
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
    size: 20px;
}

.container img.no-zoom {
    width: 400px;
    height: auto;
    float: right;
    margin-left: 40px;
}

.container .edu img {
    object-fit: cover;
    width: 360px;
    height: 260px;
}

.container img:hover {
    transform: scale(1.1); /* 放大圖像 */
}

.container img.no-zoom:hover {
    transform: none; /* 取消特定图片的放大效果 */
}

.special-effect img:hover {
    transform: rotate(10deg); /* 旋转图像 */
}

.custom-size {
    width: 200px;
    height: 200px;
}

footer a {
    color: black;
}

footer a:hover {
    color: gray;
    text-decoration: none;
}

.red {
    color: red;
}

.group {
    font-weight: bolder;
}

.groupColor {
    color: blue;
}

.btn-widthfree {
    width: 100%;
}
  