.navbar-nav li.nav-item {
    width: 120px; /* 設定導航項目的寬度 */
    text-align: center;
}
  
.navbar-nav li.nav-item a:hover {
    background-color: #111; /* 滑鼠移過時的背景顏色 */
}

.dropdown-menu a.dropdown-item {
    color: gray; /* 設定項目的文字顏色 */
}
  
.dropdown-menu a.dropdown-item:hover {
    color: white; /* 滑鼠移過時的文字顏色 */
}

.image-container {
    max-height: 500px; /* 設置圖像容器的最大高度 */
    overflow: auto; /* 隐藏滾動條 */
}

.image-container::-webkit-scrollbar {
    width: 0; /* 隐藏滾動條 */
}

.image-container::-webkit-scrollbar-track {
    background-color: transparent; /* 設置滾動條背景顏色為透明 */
}

.image-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* 設置滾動條拇指顏色為透明 */
}

.image-container img {
    max-width: 100%;
}

h1 {
    padding-top: 50px;
}

.row img {
    width: 45%;
    height: auto;
    float: right;
    padding-top: 15px;
    align-items: center;
}

.container img.D {
    opacity: 0.5; /* 降低透明度 */
}

.container img.D:hover {
    opacity: 1; /* 降低透明度 */
    transform: rotate(-3deg); /* 旋轉圖片 */
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    /* 圖片容器 RWD 調整 */
    .image-container {
        max-width: 100%;
        max-height: 150px;
        background-size: cover;
    }

    .navbar-nav li.nav-item {
        text-align: left;
    }

    .carousel-control-prev-icon {
        background-color: transparent;
    }
    
    .carousel-control-next-icon {
        background-color: transparent;
    }
}